workshops/magic_lights/second_flow.json
[{"id":"275bbc6.fd8a444","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":144,"y":208,"z":"ca3cd35c.35c33","wires":[["c397db70.3c6828"]]},{"id":"c397db70.3c6828","type":"scanBLE","name":"Check","ble_name":"Fitbit","ble_uuid":"1204040402131","x":287,"y":170,"z":"ca3cd35c.35c33","wires":[["9d4e4ef7.62b1b"]]},{"id":"9d4e4ef7.62b1b","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"Fitbit"}],"checkall":"true","outputs":1,"x":454,"y":154,"z":"ca3cd35c.35c33","wires":[["b1ee2c9.f4e11d"]]},{"id":"b1ee2c9.f4e11d","type":"HueNode","name":"","username":"34fcc05c38c1a66f9cc1a34394809e7","discovery_mode":"","lamp_id":"1","color":"EBF5FF","lamp_status":"ON","x":611,"y":114,"z":"ca3cd35c.35c33","wires":[[]]}]

